/* https://coolors.co/ffffff-80d3f0-00a7e1-0083b1-005f80-00171f-003459-007ea7 */

:root{

--headingColor:#00a7e1;
--paddingLeftandRight:10%;


}


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Nanum+Gothic:wght@400;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    font-family: 'DM Sans', sans-serif;
    background: rgb(253, 253, 253);
}

/* 

.conatiner-presentation{
  padding-left:var(--paddingLeftandRight);
  padding-right:var(--paddingLeftandRight);
  display: flex;
  flex-direction: column;
}


h1{
    font-size: 80px;
    color: #227C9D;
}

.heading{
  margin-bottom: 120px;
}

.heading p{
  color: #383838;
}

.conatiner-presentation p{
    font-size: 30px;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 100px;
}




.container-desciption{
    display: flex;
    background-color: rgb(236, 236, 236);
    height: 400px;
}

.description-conatiner{
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
 }

.description-conatiner p{
 font-size: 20px;
}

.desciption .text-description{
    font-size: 20px;
}

.text-description{
  padding: 30px;
}

.profile-picture{
    display: flex;
    align-items: flex-end;
}

.profile-picture img{
    width: 100%;
}

.slide-Container{
    position: relative;
    width: 100%;
    height: 300px;
    padding-bottom:300px;
}

.projects-heading{
 color: white;
 padding: 0px 0px;
}

.projects-container h2{
font-size: 80px;
color: white;
padding: 80px 0px 20px 0px;
padding-left: var(--paddingLeftandRight);
}


.slide-Container p{
    color: white;
}


.presentation p{
    font-size: 30px;
}
  
  #image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none; /* -- Prevent image highlighting 
  }
  
  #image-track > .image {
    width: 30vmin;
    height: 30vmin;
    border-radius: 10px;
    object-fit: cover;
    object-position: 100% center;
  }
  
  .projects-container{
    background: rgb(34,124,157);
    background: -moz-linear-gradient(194deg, rgba(34,124,157,1) 0%, rgba(75,173,187,1) 100%);
    background: -webkit-linear-gradient(194deg, rgba(34,124,157,1) 0%, rgba(75,173,187,1) 100%);
    background: linear-gradient(194deg, rgba(34,124,157,1) 0%, rgba(75,173,187,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#227c9d",endColorstr="#4badbb",GradientType=1);
  }

 */

  /************************************************** Mobile *********************************************/
  

/**/

  .conatiner-presentation{
    padding: 50px var(--paddingLeftandRight) 10px var(--paddingLeftandRight) ;
  }

  
  /* Main heading  */
  .heading h1{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    color: var(--headingColor);
    background: rgb(1,116,157);

    background: rgb(0,167,225);
    background: -moz-linear-gradient(90deg, rgba(0,167,225,1) 0%, rgba(0,225,221,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,167,225,1) 0%, rgba(0,225,221,1) 100%);
    background: linear-gradient(90deg, rgba(0,167,225,1) 0%, rgba(0,225,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a7e1",endColorstr="#00e1dd",GradientType=1);
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
  }

   /* Web Developer sub heading */
  .heading p{
    margin: 20px 0px;
    font-weight: 100;
    font-size: 30px;
    color: #494949;
    text-align: center;
  }

  .container-desciption{
    display: flex;
    flex-direction: column;
  }

  .profile-picture{
    display: flex;
    position: relative;
  }

  .profile-picture-background{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(218,218,218);
    background: -moz-linear-gradient(0deg, rgba(218,218,218,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(218,218,218,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(218,218,218,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dadada",endColorstr="#ffffff",GradientType=1);
  }

  .profile-picture img{
    width: 100%;
    z-index: 1;
  }

  .description-conatiner{
    padding:20px 0px ;
  }

  /* section description  */
  .description-conatiner p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    line-height: 30px;
    font-weight: 100;
  }

  /* Section skills  */
  .skills-container{
    margin-bottom: 50px;
  }

  .skills-container h2{
    padding: 10px var(--paddingLeftandRight) 20px var(--paddingLeftandRight);
    font-size: 48px;
    color: #00a7e1;
    text-align: center;
  }

  .slide-Container{
    position: relative;
    width: 100%;
}


/* Selider styles  */  
  #image-track {
   padding: 0px var(--paddingLeftandRight);
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-items: center;
   align-items: center;
   grid-gap: 50px;
  }
  
  #image-track > .image {
    width: 100%;
    border-radius: 10px;
    object-position: 100% center;
  }
  

  /* Projects section */

  .projects-section{
    padding: 50px var(--paddingLeftandRight);
    background-color: rgb(5, 28, 60);
  }


  .projects-heading{
    padding: 20px var(--paddingLeftandRight) 30px var(--paddingLeftandRight);
    font-size:55px;
    background: rgb(90,212,255);
    background: rgb(0,167,225);
    background: rgb(52,204,255);
    background: rgb(52,204,255);
    background: -moz-linear-gradient(86deg, rgba(52,204,255,1) 0%, rgba(199,237,255,1) 27%, rgba(222,192,255,1) 72%, rgba(167,87,255,1) 100%);
    background: -webkit-linear-gradient(86deg, rgba(52,204,255,1) 0%, rgba(199,237,255,1) 27%, rgba(222,192,255,1) 72%, rgba(167,87,255,1) 100%);
    background: linear-gradient(86deg, rgba(52,204,255,1) 0%, rgba(199,237,255,1) 27%, rgba(222,192,255,1) 72%, rgba(167,87,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#34ccff",endColorstr="#a757ff",GradientType=1);
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  #lastPicture{
    margin-bottom: 0px;
  }

  .pojects-conatiner .project{
    margin-bottom: 70px;
  }

  .pojects-conatiner div img{
    width: 100%;
  }

  .project-description p{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-weight: 600;
  }

  .contact-info{
    background-color: rgb(242, 242, 242);
    padding: 20px var(--paddingLeftandRight);
  }

  .contact-info h2{
    color:#227C9D;
    font-size: 30px;
    padding: 20px 0px;
  }

  .linkedIn-link{
    display: flex;
    align-items: center;

  }

  .linkedIn-link img{
    width: 10%;
    margin-right: 10px;
    margin-left:15px ;
  }

  .contact-info div a{
    color: black;
  }

  /************************************************** Tablet *********************************************/

  @media screen and (min-width: 600px) {

    body{

      --paddingLeftandRight:12%;      
    }
    
    .heading h1{
      font-size: 100px;
    }

    .heading p{
      margin: 40px 0px;
      font-size: 40px;
    }

    .profile-picture img{
      width: 100%;
      z-index: 1;
    }


    .description-conatiner p{
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 31px;
      line-height: 48px;
      font-weight: 100;
    }

    .skills-container h2{
      font-size: 90px;
      padding: 50px 0px;
    }


     .projects-heading{
      font-size: 90px;
      margin-bottom: 40px;
    }

    .project-description p{
      text-align: center;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      padding: 20px;
      font-size: 40px;
      color: white;
      font-weight: 100;
    }
  
    .contact-info h2{
      font-size: 60px;
    }
  
  }


   /************************************************** Desktop *********************************************/

   @media screen and (min-width: 1200px) {

    body{
      --paddingLeftandRight:15%;
    }

    .heading h1, .heading p{
      text-align: left;
    }

    .container-desciption{
      display: grid;
      padding-right:3%;
      grid-gap: 20px;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      background: rgb(226,226,226);
      background: -moz-linear-gradient(0deg, rgba(226,226,226,1) 0%, rgba(255,255,255,0) 67%);
      background: -webkit-linear-gradient(0deg, rgba(226,226,226,1) 0%, rgba(255,255,255,0) 67%);
      background: linear-gradient(0deg, rgba(226,226,226,1) 0%, rgba(255,255,255,0) 67%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2e2e2",endColorstr="#ffffff",GradientType=1);
    }

    .description-conatiner p{
      margin: 0;
      padding: 0;
      font-size: 28px;
    }

    .profile-picture-background{
      background-color: none;
      position: relative;
    }


    .skills-container h2{
      text-align: left;
      margin: 90px 0px 0px 0px;
      padding-left: var(--paddingLeftandRight);
    }


    /* slider styles */

    .slide-Container{
      position: relative;
      width: 100%;
      height: 300px;
      padding-bottom:300px;
  }

    #image-track {
      display: flex;
      gap: 4vmin;
      position: absolute;
      left: 0%;
      top: 50%;
      transform: translate(0%, -50%); 
      user-select: none; 
    }
    
    #image-track > .image {
      width: 30vmin;
      height: 30vmin;
      border-radius: 10px;
      object-fit: cover;
      object-position: 100% center;
    }
   }

  


      